body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

h2{
    display: inline-block;
}
/*
#header-conatiner{
    margin-top: 20px;
}
#video-container {
    margin-top: 20px;
}
*/
#image-container {
    /*margin-top: 20px;*/
    display: none;
}

#controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-top: 20px;*/
}

#start-stop-btn {
    margin-top: 10px;
    cursor: pointer;
}

#upload-btn {
    margin-top: 10px;
    cursor: pointer;
}
/*
#prediction-container {
    margin-top: 20px;
}
*/